
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10">
        <button routerLink="/recipes" class=" my-2 px-4 btn btn-outline-success">Back </button>
        <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
             <div class="row">
                 <div class="col-sm-4 form-group">
                     <label for="name">Name</label>
                     <input type="text" id="name" class="form-control" name="name" ngModel required>
                 </div>
                 <div class="col-sm-8 form-group">
                     <label for="image">Image</label>
                     <input type="string" id="image" class="form-control" name="image" ngModel required>
                 </div>
             </div>
             <div class="row">
                <div class="col-sm-12 form-group">
                 <label for="shortDescription">Publisher Name</label>
                 <input id="shortDescription" type="text" class="form-control" name="shortDescription" ngModel required>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-12 form-group">
                 <label for="description">Description</label>
                 <textarea id="description" cols="10" rows="8" class="form-control" name="description" ngModel required></textarea>
                </div>
             </div>
             <div class="row">
                 <div class="col-sm-12 text-center">
                    <p *ngIf="isSubmitted" class="recipeAdd">Recipe added Successfully!</p>
                    <button class="btn btn-success px-4 btn-lg" (click)="onClick(recipeForm)" [disabled]="!recipeForm.valid" type="submit">Add</button>
                 </div>
             </div>
        </form>
        
    </div>
</div>
